body {
    background-color: #000000;
    background-image: url("./images/cal1.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;



    /* padding: 20px; */
    /* background-image: url(./images/Calibr-01.png); */
}

#main {

    padding-left: 3rem;
    padding-right: 3rem;

    /* padding-left: 60px;
    padding-right: 60px; */
}



#contOne {
    display: flex;
    padding: 20px;
    
    border-bottom: 2px solid white;
}
#contOne #ticketCol input{
    justify-content: right;
}
#contTwo {
    margin-top: 20px;
    justify-content: right;
    opacity: .9;

}

.headerimage {
    /* background: #000; */
    position: relative;
}

#contLogo {
    /* margin-top: 20px; */
    align-items: center;
    justify-content: center;
}

#logoCol {
    align-items: center;
    justify-content: center;

}

#partyName {
    width: 100%
}

.img-responsive {
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;
}

#flyerImg {
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
}

#djInfo {
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}

#flyer {
    height: 100%;
    padding: 10px;
}

#rowThree {
    margin: auto;
    justify-content: center;
    
}

#flyerTwoImg {
    width: 100%;

}
#flyerTwo{
    flex-grow: .5;
    
}

#ticketCol {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: auto;
    

}

.btn {
    background-color: grey;
    color: black;
    text-emphasis: bold;
    padding: 10px;
}

.btn:hover {
    background-color: white;
}

#ticketCard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    opacity: .7;
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;

}

.col-container {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}


#carouselCol.col {
    flex-grow: .3;
    padding: 20px;
    margin: auto;
}

#carousel {
    padding: 20px;
    opacity: .9;
    border: 2px solid white;
}

#eventInfo {
    text-align: center;
    
    
}

footer {
    margin-top: 20px;
    background-color: grey;
    text-align: center;
}

.text {
    color: #000;
}

#bottom {
    padding: 20px;
    opacity: .9;
}
.container-fluid iframe{
    margin: auto;
    
}
#eventInfo2 {
    padding: 20px;
    border: 4px dashed black;
}

.carousel-inner img {
    margin: auto;



}

.card #cardCarousel {
    width: 60%;
}

.container-fluid #container3 {
    padding: 20px;
    margin-top: 30px;
}

#iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
}



.connect-photo1 {
    /* Box-model */
   
    height: auto;
    /* border-radius: 18px; */
    filter: drop-shadow(0px 0px 5px rgba(231, 231, 231, 0.66));
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;

}

.connect-photo2 {
    /* Box-model */
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;
    height: auto;
    /* border-radius: 18px; */
    filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.26));
}

.connect-photo3 {
    /* Box-model */
    width: 100% !important;
    border-radius: 0 0 5px 5px !important;
    margin: 0;
    height: auto;
    /* border-radius: 0px */
    filter: drop-shadow(3px 7px 6px rgba(168, 166, 166, 0.26));
}

#containerConnect {
    padding: 10px;
    justify-content: center;
}

#connect-images {
    padding: 20px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 4px;
    
}

.carouselSlide {
    border: 2px solid white;
}
#holders{
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
 input #img-responsive {
    width: 50%;
  
  
} 
h1, h4{
    font-weight: bold;
}




#maps{
    display:inline-flex ;
    padding: 20px;
    vertical-align: middle;
}
#video{
  justify-content: center;
  align-items: center;

 
}
@media(min-width:200px) and (max-width:500px) {
   
    #carouselCol.col {
        flex-grow: 1;
        padding: 20px;
        margin: auto;
    }
    .container-fluid {
        width: 100%;
        
       
    }

    #iframe {
        
        float: none;
        margin: 0 auto;

    }

    #ticketCard {

        background-color: lightcoral;
    }
    #main {

        padding-left: 1rem;
        padding-right: 1rem;
}